body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: blueviolet;
}

p {
    text-align: justify;
    width: fit-content;
}

.center {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.foto{
    background-color: black;
}

.foto img{
    width: 23%;
}

.cod{
    margin: 0 auto;
    width: 50%;
}

.cod p{
    background-color: aqua;
    border: 5px solid red;
    text-align: center;
    font-weight: bold;
    color: blue;
}

.promo{
    color: red;
    text-align: center;
    font-weight: 20px;
}

#tombol{
    background-color: yellow;
    color: red;
    display: block;
    margin: 0 auto;
}